* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Arial', sans-serif;
    background-color: #333; /* Dark background for better contrast */
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em; /* Added padding for overall spacing */
}

.container {
    text-align: center;
    border-radius: 20px;
    background: #222;
    padding: 2em;
    max-width: 700px;
    width: 100%;
}
.title {
    color: #7B2EFF;
    font-size: 2em;
    margin-bottom: 0.5em;
}
.description {
    margin-bottom: 2em;
    color: #AAA;
}
.start-btn {
    background-color: #7B2EFF;
    border: none;
    padding: 1em 2em;
    font-size: 1em;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.start-btn:hover {
    background-color: #9A4EFF;
}

.register-invitation {
    font-size: 16px; 
    margin-top: 20px;
    text-align: center;
}

.register-invitation a {
    color: #9A4EFF; 
    text-decoration: none; 
}

.register-invitation a:hover, .register-invitation a:focus {
    text-decoration: underline; 
    color:  #9A4EFF;
}

.split-container {
    display: flex;
    width: 100%;
    max-width: 1200px; /* Adjust as per your design preference */
}


/* Style for decorative graphics on the right pane, potentially SVG or complex CSS shapes */
.graphic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
    height: auto;
}

.graphic img {
    max-width: 100%;
    height: auto;
}

#error_message{
    color: rgb(247, 94, 94); 
    display: none;
}

#error_message_code{
    color: rgb(247, 94, 94); 
    display: none;
}

/* Основа для затемненного фона */
.loading-background {
    display: none; /* Скрыть по умолчанию */
    position: fixed; /* Фиксированное позиционирование */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный фон */
    z-index: 2000; /* Повыше других элементов */
    justify-content: center;
    align-items: center;
  }
  
  /* Стили для спиннера */
  .spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #fff;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 1s linear infinite; /* Анимация для Chrome, Safari, Opera */
    animation: spin 1s linear infinite; /* Стандартная анимация */
  }
  
  /* Анимация вращения */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .modal-background {
    display: none; /* Скрыть по умолчанию */
    position: fixed; /* Фиксированное позиционирование */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный фон */
    z-index: 1000; /* Повыше других элементов */
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    background: #232323; /* Цвет фона аналогичный окну регистрации */
    padding: 20px;
    border-radius: 10px; /* Скругленные углы как у поля ввода */
    width: 400px; /* Ширина модального окна */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Тень для объемности */
    text-align: center; /* Текст по центру */
    color: #fff; /* Белый текст */
  }
  
  .modal input[type="text"] {
    width: 95%; /* Ширина ввода, чтобы оставить немного пространства */
    margin-top: 10px;
    padding: 10px; /* Паддинг как у полей в форме регистрации */
    border: none; /* Убрать границу */
    border-radius: 5px; /* Скругленные углы */
    margin-bottom: 20px; /* Отступ снизу */
  }
  
  .modal button {
    padding: 10px 20px; /* Паддинг как у кнопки регистрации */
    border: none; /* Убрать границу */
    border-radius: 5px; /* Скругленные углы */
    background-color: #6a5acd; /* Фиолетовый цвет кнопки */
    color: #fff; /* Белый текст */
    cursor: pointer; /* Курсор в виде руки для интерактивности */
    margin-top: 10px; /* Отступ сверху */
  }
  
  .modal button:hover {
    background-color: #7b68ee; /* Чуть светлее при наведении */
  }

  /* Стили для уведомления */
.notification {
    background-color: #333; /* Темный фон */
    color: #fff; /* Белый текст */
    padding: 10px 20px; /* Паддинг внутри */
    border-radius: 3px; /* Скругленные углы */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3); /* Тень для объемности */
    position: fixed; /* Фиксированное позиционирование */
    top: 20px; /* Отступ сверху */
    right: -300px; /* Спрятать справа */
    z-index: 3000; /* Повыше других элементов */
    transition: right 0.5s; /* Анимация появления и исчезновения */
  }
  
  /* Класс для показа уведомления */
  .show-notification {
    right: 20px; /* Переместить в видимую область */
  }
  
  /* Анимация исчезновения */
  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  /* Применить анимацию исчезновения к уведомлению */
  .fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
    animation-delay: 2.5s; /* Задержка перед началом исчезновения */
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
    background-color: #222; /* Match the color from your image */
    color: white;
    position: fixed; /* This makes the navbar stay at the top */
    top: 0; /* Position at the very top */
    left: 0; /* Align to the left */
    right: 0; /* Align to the right */
    z-index: 1000; /* Ensures navbar is above other content */
}

.navbar .logo {
    margin-right: auto; /* Pushes all other navbar items to the right */
}

.logo{
    font-size: 1.5em;
}

.navbar .nav-links {
    display: flex; /* Aligns links in a row */
    list-style-type: none; /* Removes list styling */
}

.navbar .nav-links a {
    color: #AAA;
    text-decoration: none;
    margin: 0 1em;
    transition: color 0.3s ease;
}

.navbar .nav-links a.active {
    color: #7B2EFF; /* Active link color */
}

.navbar .nav-links a {
    color: #AAA;
    text-decoration: none;
    padding: 10px 15px; /* Added padding for a larger clickable area */
    border-radius: 5px; /* Rounded corners for the background */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color */
}
.navbar .nav-links a:hover {
    background-color: rgba(123, 46, 255, 0.3); /* Semi-transparent background on hover */
    color: white; /* Change text color on hover for better contrast */
}

.navbar .search-bar {
    display: flex;
    align-items: center;
    margin-left: auto; /* Pushes the search bar to the right */
}

.navbar .search-bar input[type="search"] {
    padding: 0.5em;
    background-color: #333;
    border: 1px solid #444;
    color: white;
    border-radius: 5px;
}

.navbar .search-bar button {
    background-color: #7B2EFF;
    border: none;
    padding: 0.5em 1em;
    margin-left: 0.5em;
    border-radius: 5px;
    cursor: pointer;
}


  .wallets {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .start-btn {
    background-color: #7B2EFF;
    color: white;
    padding: 0.75em 1.5em;
    border-radius: 5px; /* Slightly rounded edges for the button */
    font-size: 1em;
    border: none;
    margin-top: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-btn:hover {
    background-color: #9A4EFF;
}
  .chart {
    height: 250px;
    width: 100%;
    /* A placeholder for the chart */
    background: repeating-linear-gradient(
      to right,
      #333,
      #333 10px,
      #444 10px,
      #444 11px
    );
  }
  
  footer {
    width: 100%;
    padding: 1em 2em;
    background-color: #222; /* Match the footer background to your design */
    color: white;
    text-align: left;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); /* Optional: adds depth with a shadow */
    position: fixed;
    bottom: 0;
}

.footer-container p {
    margin: 0;
    font-size: 0.8em;
}
.left-pane,
.right-pane {
    background: #1A1A1A; /* Slightly lighter background for contrast */
    padding: 2em;
    border-radius: 10px; /* Smoothed the corners */
    margin-right: 1em; /* Added space between the columns */
}

.balance {
    background: #333; /* Slightly different background for the card */
    padding: 1.5em;
    border-radius: 10px; /* Rounded corners for the balance card */
    margin-bottom: 1em; /* Space below the balance card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
}

.balance p {
    font-size: 1.5em; /* Larger font size for balance amount */
    font-weight: bold; /* Bold font for emphasis */
}
  
  