* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Arial', sans-serif;
    background-color: #333;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    text-align: center;
    border-radius: 20px;
    background: #222;
    padding: 2em;
    max-width: 700px;
    width: 100%;
}
.title {
    color: #FFF;
    font-size: 2em;
    margin-bottom: 0.5em;
}
.description {
    margin-bottom: 2em;
    color: #AAA;
}
.start-btn {
    background-color: #7B2EFF;
    border: none;
    padding: 1em 2em;
    font-size: 1em;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.start-btn:hover {
    background-color: #9A4EFF;
}

.register-invitation {
    font-size: 16px; 
    margin-top: 20px;
    text-align: center;
}

.register-invitation a {
    color: #9A4EFF; 
    text-decoration: none; 
}

.register-invitation a:hover, .register-invitation a:focus {
    text-decoration: underline; 
    color:  #9A4EFF;
}

.split-container {
    display: flex;
    width: 100%;
    max-width: 1200px; /* Adjust as per your design preference */
}

/* Left pane styles */
.left-pane {
    flex-basis: 50%;
    padding: 2em;
    background-color: #1c1c1e; /* Dark background color for the left pane */
}

/* Right pane styles */
.right-pane {
    flex-basis: 50%;
    position: relative;
    background: linear-gradient(145deg, #5c5c5e, #333336);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden; /* Ensures nothing spills outside the border-radius */
}

/* Style for decorative graphics on the right pane, potentially SVG or complex CSS shapes */
.graphic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
    height: auto;
}

.graphic img {
    max-width: 100%;
    height: auto;
}
